body {
  background-color: #2e2e2e;
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 30px;
  color: white;
  font-weight: normal;
  font-family: "Orbitron", "Montserrat", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  font-family: "AmazDoom";
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: 100px;
  font-family: "AmazDooM";
  letter-spacing: 4px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  background: #89181a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  font-family: "AmazDoom";
  letter-spacing: 2px;
  height: 28px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 20px;
  align-items: center;
}

.grid2 div img {
  width: 100%;
}

.grid2 div p {
  padding: 10px;
  font-size: 0.5em;
}

.footer {
  text-align: right;
  font-size: 0.5em;
}

.grid2 img {
  max-width: 500px;
  width: auto;
  height: auto;
}

.grid2 p {
  max-width: 500px;
  width: auto;
  height: auto;
}

.tabela {
  table-layout: auto;
  text-align: center;
  border-collapse: collapse;
  width: auto;
  height: auto;
}

caption {
  line-height: 100px;
}

tfoot {
  text-align: left;
}

td {
  border-style: solid;
  border-color: rgb(150, 2, 2);
}

th {
  border-style: solid;
  border-color: rgb(150, 2, 2);
}

.rodape {
  border-style: none;
}
